.fluent.debug.touch {
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  z-index: 200;
}

.fluent.debug.range {
  width: 2px;
  height: 12px;
}

.fluent.debug.first {
  background-color: red;
}
.fluent.debug.second {
  background-color: blue;
}
