:root {
  font-family: Arial, Helvetica, sans-serif;
}

.body.dark {
  color: black;
}
.body.light {
  color: white;
}

.suggestion {
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  border-radius: 15px;
}
.suggestion img {
  width: 25rem;
  margin-right: 1rem;
  border-radius: 15px;
}

.storylink {
  display: inline-block;
  color: #189eec;
  transform: translateX(-0.5rem);
  cursor: pointer;
  white-space: nowrap;
}
.storylink:hover {
  color: #1579b3;
}
.storylink::before {
  content: '\250f';
  display: inline-block;
  transform: translate(20%, -45%);
}
.storylink::after {
  content: '\251b';
  display: inline-block;
  transform: translate(-15%, 40%);
}

@media (pointer: coarse) {
  .suggestion {
    display: none;
  }
}
