.fluent.menu {
  transition:
    0.2s ease-out,
    top 0s,
    left 0s,
    transform 0s;
  display: flex;
  flex-direction: column;
  margin-top: -1em;
  white-space: nowrap;
}

.fluent.menu.left {
  align-items: flex-start;
  margin-left: 2em;
}
.fluent.menu.right {
  align-items: flex-end;
  transform: translateX(calc(-100% - 2em));
}

.fluent.menu.inactive {
  opacity: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.fluent.menu.active:not(.inactive) {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.fluent.menu.light {
  --background-color: rgba(220, 220, 220, 0.9);
  --highlight-color: rgba(91, 192, 255, 0.8);
}
.fluent.menu.dark {
  --background-color: rgba(80, 80, 80, 0.9);
  --highlight-color: rgba(30, 167, 253, 0.8);
  color: white;
}

.fluent.menu *,
.fluent.menu *::before {
  transition: 0.2s ease-out;
}

.fluent.menu .fluent.menuoption {
  display: flex;
  width: 100%;
  margin: 0.1em 0;
}
.fluent.menu.left .fluent.menuoption {
  flex-direction: row;
}
.fluent.menu.right .fluent.menuoption {
  flex-direction: row-reverse;
}

.fluent.menu .fluent.menuoption * {
  padding: 0.2em;
  background: var(--background-color);
  backdrop-filter: blur(2px);
}

.fluent.menu .fluent.menuoption .icon {
  border-radius: 50%;
}

.fluent.menu.active:not(.inactive) .menuoption .icon {
  margin: 0 0.5em;
}

.fluent.menu .fluent.menuoption .tag {
  display: flex;
  align-items: center;
  padding: 0.2em 0.5em;
  overflow: hidden;
}
.fluent.menu.right .fluent.menuoption .tag {
  justify-content: end;
}
.fluent.menu .fluent.menuoption:nth-child(2) .tag {
  border-radius: 1em 1em 0 0;
}
.fluent.menu .fluent.menuoption:last-child .tag {
  border-radius: 0 0 1em 1em;
}
.fluent.menu.inactive .fluent.menuoption .tag {
  flex-grow: 0;
  width: 0%;
}
.fluent.menu.active:not(.inactive) .fluent.menuoption .tag {
  flex-grow: 1;
  width: 100%;
}

.fluent.menu .fluent.menuoption.hovering .icon {
  background: var(--highlight-color);
}

.fluent.menu .fluent.menuoption .tag::before {
  content: '';
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--highlight-color);
  opacity: 0;
  z-index: -1;
}
.fluent.menu .fluent.menuoption.hovering .tag::before {
  width: 100%;
  opacity: 1;
}
.fluent.menu.right .fluent.menuoption .tag::before {
  right: 0;
}
.fluent.menu.left .fluent.menuoption .tag::before {
  left: 0;
}

.fluent.menu .fluent.menudivider {
  align-self: center;
  width: 80%;
  height: 1px;
  margin: 0.2em 0;
  background: lightgray;
}
