@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

.fluent:not(.fluent .fluent) {
  position: fixed;
  user-select: none;
  z-index: 100;
}
