/* Base definition */
.fluent.manipulator {
  transition: 0.2s;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  max-height: 200vw;
  background-position: 0 0, 5vw 5vw;
  background-size: 2vw 2vw;
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent);
  backface-visibility: hidden; /* Needed because copy icon causes weird top border on pad upon transformation */
  touch-action: none;
  user-select: none;
}

.fluent.manipulator::before {
  content: '\e14d';
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Material Symbols Outlined';
  font-size: 20vw;
  pointer-events: none;
  animation: copy 1s linear 1 normal forwards;
}

.fluent.handle {
  transition: 0.2s, opacity 0.5s;
  width: 3px;
  background-color: #1ea7fd;
  opacity: 0;
  pointer-events: none;
}
/* Base definition */

/* Initial states */
.fluent.manipulator[data-active=false] {
  opacity: 0;
  pointer-events: none;
}
.fluent.manipulator[data-active=true] {
  opacity: 1;
}

.fluent.manipulator[data-theme=dark] {
  background-color: #080808;
  background-image:
    radial-gradient(#212121 20%, transparent 20%),
    radial-gradient(black 20%, transparent 20%);
}
.fluent.manipulator[data-theme=dark]::before {
  color: white;
}
.fluent.manipulator[data-theme=dark][data-active=true]:active {
  background-color: #49b9ff;
  background-image:
    radial-gradient(#6bb8e7 20%, transparent 20%),
    radial-gradient(#5a8cac 20%, transparent 20%);
}

.fluent.manipulator[data-theme=light] {
  background-color: #fafafa;
  background-image:
    radial-gradient(#dedede 20%, transparent 20%),
    radial-gradient(white 20%, transparent 20%);
}
.fluent.manipulator[data-theme=light]::before {
  color: black;
}
.fluent.manipulator[data-theme=light][data-active=true]:active {
  background-color: #73c9ff;
  background-image:
    radial-gradient(#8dd3ff 20%, transparent 20%),
    radial-gradient(#49a3da 20%, transparent 20%);
}

.fluent.handle[data-active=true] {
  opacity: 1;
}
.fluent.handle[data-active=true][data-manipulating=true] {
  transition: all 0s, opacity 0.8s, height 0.2s;
  transform: scale(1.3);
}
/* Initial states */

/* Working states */
.fluent.manipulator.refresh::before {
  display: none;
}
/* Working states */

@keyframes copy {
  from {
    transform: none;
    opacity: 1;
  } to {
    transform: translateY(-10%);
    opacity: 0;
  }
}
