.fluent#fluentselectionmanipulator {
  transition: 0.2s;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  max-height: 200vw;
  background-position: 0 0, 5vw 5vw;
  background-size: 2vw 2vw;
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent);
  backface-visibility: hidden; /* Needed because copy icon causes weird top border on pad upon transformation */
  touch-action: none;
}

.fluent.dark#fluentselectionmanipulator {
  background-color: #080808;
  background-image:
    radial-gradient(#212121 20%, transparent 20%),
    radial-gradient(black 20%, transparent 20%);
}
.fluent.light#fluentselectionmanipulator {
  background-color: #fafafa;
  background-image:
    radial-gradient(#dedede 20%, transparent 20%),
    radial-gradient(white 20%, transparent 20%);
}

.fluent#fluentselectionmanipulator.inactive {
  opacity: 0;
  pointer-events: none;
}
.fluent#fluentselectionmanipulator.active {
  opacity: 1;
}

.fluent#fluentselectionmanipulator.active:active {
  background-color: #49b9ff;
  background-image:
    radial-gradient(#6bb8e7 20%, transparent 20%),
    radial-gradient(#5a8cac 20%, transparent 20%);
}

.fluent#fluentselectionmanipulator::before {
  content: '\e14d';
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Material Symbols Outlined';
  font-size: 20vw;
  animation: copy 1s normal forwards;
  pointer-events: none;
}
.fluent.dark#fluentselectionmanipulator::before {
  color: white;
}
.fluent.light#fluentselectionmanipulator::before {
  color: black;
}
.fluent#fluentselectionmanipulator.refresh::before {
  display: none;
}

.fluent.handle {
  transition: 0.2s, opacity 1s;
  width: 3px;
  background-color: #1ea7fd;
  opacity: 0;
  pointer-events: none;
}
.fluent.handle.active {
  opacity: 1;
}
.fluent.handle.active.manipulating {
  transition: all 0s, height 0.2s;
  transform: scale(1.3);
}

@keyframes copy {
  from {
    transform: none;
    opacity: 1;
  } to {
    transform: translateY(-10%);
    opacity: 0;
  }
}
